@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input {
  margin-right: 20px;
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

body {
  display: flex;
  justify-content: center;
}

.searchField {
  margin-left: 35%;
  margin-right: 20%;
}
